<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<br/>

<form th:object="${user}">
    <div>
        <label for="firstName">Name</label>
        <input type="text" th:field="*{firstName}" id="firstName"/>

        <br>

        <label for="lastName">LastName</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>

        <br>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email"/>

        <br>

        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password"/>

        <br>

    </div>

    <br/>

    <input type="button" value="Logout"
           onclick="window.location.href ='logout'"/>

</form>

</body>
</html>